.todo-item {
  color: #232b2b;
  font-size: 22px;
  margin: 15px 15px 0 15px;
  background-color: transparent;
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  text-wrap: avoid;
}

.times {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  color: #17a2b8;
}

.times:hover {
  color: black;
}

.todo-text {
  margin-right: auto;
}
