.todo-item {
  color: #B82C16;
  font-size: 22px;
  margin-top: 15px;
  background-color: transparent;
}

.times {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
  color: #16b87d;
}

.times:hover {
  color: black;
}

.todo-text {
  margin-right: 8px;
}
